<!DOCTYPE html>
  <style>
      .sidebar {
          padding-top:30px;
          dispaly: flex;
          flex-direction: column;
          iustify-content: center;
      }
          .sidebar li a {
              color: #333;
          }

  </style>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
</head>

<body>
    @Html.Partial("navbar","Home")
    <div class="container body-content">
         <div class=" col-md-3"></div>
          <ul  class =" nav navbar-nav sidebar">
             
               {
             <li>@Html.ActionLink("Link.Name","link.Action","link.Controller", new { @class = "navbar-brand" })</li>
              <li>@Html.ActionLink("Link.Name","link.Action","link.Controller"new { @class = "navbar-brand" })</li>
               }
              </ul>
        </div>
         
        <div class=" col-md-9"></div>
    @RenderBody()
        <hr />
        <footer>
            </div>
    @RenderBody()
</body>
</html>
